<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">--->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <!--<link rel="stylesheet" href="estilos.css"--->
    <title>Punto uno, diseños responsivos</title>
    <style>
        .borde{ border:  1px #000 solid; text-align: center; height: 50px}
        .color1{background: #eeeeee}
        .color2{background: salmon}
        .color3{background: rgb(203, 240, 185)}
        .color4{background: violet}
    </style>
</head>

<body>
    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="eliminar.html">Page 1</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="" [routerLink]="['musica']" ><i class="bi bi-film"></i>MUSICA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" [routerLink]="['moneda']"><i class="bi bi-currency-dollar"></i> Conversor de Divisas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" [routerLink]="['horoscopo']" ><i class="bi bi-moon"></i> Signos del Zodiaco</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" [routerLink]="['youtube']" ><i class="bi bi-moon"></i> Youtube</a>
                    </li>
                   
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="borde color4 col-sm-12">Menu</div>
        </div>
        <div class="row">
            <div class="borde color1 col-md-6">IMAGEN 1</div>
            <div class="borde color1 col-md-6  d-sm-none d-md-block d-none d-sm-block ">IMAGEN 2</div>
            <div class="borde color1 col-md-12">IMAGEN 3</div>
            <!----Articulos-->
            <div class="borde color3 col-md-3    col-sm-4     col-6  ">Art</div>
            <div class="borde color3 col-md-3    col-sm-4     col-6  ">Art</div>
            <div class="borde color3 col-md-3    col-sm-4     col-6  ">Art</div>
            <div class="borde color3 col-md-3    col-sm-4     col-6  ">Art</div>
            <!----->
            <div class="borde color3 col-md-3    col-sm-4      col-6   ">Art</div>
            <div class="borde color3 col-md-3    col-sm-4      col-6   ">Art</div>
            <div class="borde color3 col-md-3    col-sm-4      col-6   ">Art</div>
            <div class="borde color3 col-md-3    col-6   d-sm-none d-md-block ">Art</div>
         

           
        </div>
        <div class="row">
            <div class="borde color4 col-sm-12">Footer</div>
        </div>
    </div>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>